* {
  margin: 0;
  padding: 0;
}
:root {
  --first-colour: #1f94d4;
  --second-colour: #0567a8;
}
body {
  overflow-x: hidden;
}
/* navbar */
.container-fluid .navbar-brand {
  font-size: 30px;
  font-weight: 600;
  font-family: "Pacifico", cursive;
  color: var(--first-colour);
}
.navbar-brand span {
  color: var(--second-colour);
}
.nav-item a {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}
.nav-item a:hover {
  color: var(--first-colour);
}
#navbtn {
  color: #f6f0f0;
  background-color: var(--second-colour);
  border-radius: 40px;
  font-weight: 500;
}
#regbtn {
  color: var(--second-colour);
  border-color: #0567a8;
  border-radius: 40px;
  font-weight: 500;
}
.carousel {
  height: 70vh;
  position: relative;
}

.carousel-item {
  height: 70vh;
  overflow: hidden;
}
.carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
  left: 50%;
  top: 50%;
}

.carousel-caption h5 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  color: #f6f0f0;
}
.carousel-caption p {
  font-size: 25px;
  font-weight: 400;
  color: #f6f0f0;
}
.carousel-item video {
  object-fit: cover;
  width: 100%;
}
#home-btn {
  background-color: #f6f0f0;
  color: #0567a8;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 50px;
  }
  .carousel-caption p {
    font-size: 20px;
  }
  .carousel-caption button {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 40px; /* Adjust font size for small screens */
  }
  .carousel-caption p {
    font-size: 14px; /* Adjust font size for small screens */
  }
  .carousel-caption button {
    font-size: 12px; /* Adjust font size for small screens */
  }
}

form {
  width: 100%;
  background: #ffffff;
}

form input {
  padding: 1rem;
  font-size: 12px;
  width: 200px;
  border: 1px solid #106c72;
}
form label {
  font-weight: 600;
  font-size: 20px;
  color: #1f94d4;
}
#search-btn {
  background-color: #0567a8;
  color: #f6f0f0;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 16%;
}
.main-txt {
  color: var(--second-colour);
  text-shadow: 0px 1px 1px white;
}
.stay-card img:hover {
  transform: scale(1.1);
}
.packages .card img {
  border-radius: 8px;
}
.packages .card {
  position: relative;
}

.packages .card .card-body {
  padding: 1.5rem 2rem;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  color: var(--second-colour);
  top: 25%;
  left: 0;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.packages .card:hover .card-body {
  opacity: 1;
}
.packages .card:hover img {
  opacity: 0.2;
}
.packages .card .card-body a {
  text-decoration: none;
  color: var(--second-colour);
  font-size: 18px;
  font-weight: 400;
}
.deals .card{
  border-radius: 20px;
}
.deals .card .card-body{
  background: transparent;
}
.deals .card .dealcard-body h3{
  font-size: 25px;
  font-weight: 600;
}

.dealcard-body p{
  font-size:16px;
}
.dealcard-body li{
  list-style: none;
  display: inline;
  padding: 5px;
}
.checked{
  color: #ffa500;
}
.imgDiv {
  border-radius: 12px;
  position: relative;
}
.image-div video {
  max-width: 100%;
  object-fit: cover;
  position: fixed;
}

.accordion-button {
  background: var(--first-colour);
  font-size: 16px;
  font-weight: 500;
}

#subsribeBtn {
  background-color: #f6f0f0;
  color: #0567a8;
  padding: 10px;
}
